html, body {
    scroll-behavior: smooth;
}
nav ul li .active {
    color:#326a58;
}
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.swiper-button-prev {
    color: #326a58;
}
.swiper-button-next {
    color: #326a58;
}

.lato {
    font-family: 'Lato', sans-serif;
}

header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid #326a58;
}

.main-phone {
    font-size: 30px;
    margin-top: 15px;
    margin-right: 20px;
    position: absolute;
    top:0;
    right:0;
}

header {
    width:100%;
    display: block;
}

header img {
    width:280px;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: none;
}
header ul li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 25px 18px;
    text-decoration: none;
}

header ul li a:hover:not(.active) {
    background-color: #ddd;
}

header ul li a.active {
    color: white;
    background-color: #326a58;
}

.jcontainer {
    padding: 20px;
    display: flex;
    flex-direction: row;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.jcontainer .jrow {
    background-color: #fff;
    border-radius: 6px;
    margin-left: 10px;
}
.jcontainer .jrow img {
    float: left;
}
.jcontainer .jrow ul {
    float: right;
    margin-top: 10px;
}


.jcontainerb {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.jcontainerb .jrow:nth-last-child(4) {
    margin-left: 0;
}
.jcontainerb .jrow {
    background-color: #fff;
    border-radius: 6px;
    margin-left: 30px;
}
.jcontainerb .jrow {
    width: 250px;
    min-width: 250px;
}
.jcontainerb .jrow ul {
    margin-top: -10px;
    margin-left: 15px;
}

@media screen and (max-width:1118px ) {
    .jcontainerb {
        display: inline-block;
        flex-direction:unset;
        justify-content: unset;
    }
    .jcontainerb .jrow {
        height: 350px;
        min-height: 350px;
    }
    .jcontainerb .jrow:last-child {
        float: left;
    }
    .jcontainerb .jrow:nth-last-child(2) {
        float: right;
    }
    .jcontainerb .jrow:nth-last-child(3) {
        float: left;
        margin-bottom: 10px;
    }
    .jcontainerb .jrow:nth-last-child(4) {
        margin-bottom: 10px;
        float: right;
    }
}
@media screen and (max-width:687px ) {
    .jcontainerb {
        display: flex;
        flex-direction: column;
    }
    .jcontainerb .jrow {
        margin-top: 10px;
        margin-left: 0;
        width: 300px;
        min-width: 300px;
    }
    .jcontainerb .jrow:last-child {
        float: none;
    }
    .jcontainerb .jrow:nth-last-child(2) {
        float: none;
    }
    .jcontainerb .jrow:nth-last-child(3) {
        float: none;
    }
    .jcontainerb .jrow:nth-last-child(4) {
        float: none;
    }
}
@media screen and (max-width:1310px ) {
    .jcontainer .jrow ul {
        margin-top: -15px;
        float: left;
        margin-left: 10px;
    }
    .jcontainer .jrow {
        height: 390px;
        min-height: 390px;
    }
}
@media screen and (max-width:768px ) {
    .jcontainer {
        flex-direction: column;
    }
    .jcontainer .jrow {
        margin-top: 10px;
        width: 300px;
        min-width: 300px;
    }
    .jcontainer .jrow img {
        float: none;
    }
    .jcontainer .jrow ul {
        float: none;
    }
}

@media screen and (max-width:320px ) {
    .jcontainer .jrow {
        width: 250px;
        min-width: 250px;
    }
    .jcontainerb .jrow {
        width: 250px;
        min-width: 250px;
    }
}

@media screen and (min-width:768px ) {
    header ul {
        position: absolute;
        right:0;
        top:-1px;
        display: block;
    }
    header ul li {
        float: left;
    }
    header ul .xnavbar {
        display: block;
    } 
}
@media screen and (max-width:320px) {
    header img {
        width:240px;
    }
}